html {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  width: 100%;
}

.logo h1{
  font-size: 32px;
}

.first{
  font-weight: bold;
  font-size: 34px;
}

.second{
color: grey;
font-weight: 100;
}

img{
  height:64px;
}

header{
  top:0;
  max-width: 100%;
  margin: 0 0;
}

.desktop {
  margin: -8px 24px;
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 100%;
  height: 64px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 64px;

}
nav ul{
  display: flex;
  justify-content: flex-end;

}

nav li{
  display: inline-flex;
  border-right: 16px solid #80ced6;
  padding-left: 0px;
  height: 64px;
  align-items: center;
}

nav li:last-child{
  border-right: 0px;
}

header .mobile {
  display: none;
}

.container .mobile{
  height: 64px;
  margin: -8px 0 0 -36px;
  width:100%;
}

@media only screen and (max-width: 900px){
li a {
  font-size: 14px;
}
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
  }
}

.cont .one{
  margin-top:8px;
  padding-bottom: 32px;
  background-color: 	#DCDCDC;
  display: flex;
  align-items: center;
}

.picture img{
 width: 60%;
 height: 60%;
 margin: 32px 24px 32px 24px;
}

.leftside{
  width: 30%;
}

.text h1{
  font-size: 35px;
  width: 90%;
  height: auto;
}

.button {
  font-size: 16px;
  text-align: center;
  background-color: gray;
  color: white;
  padding-top:8px;
  padding-bottom: 8px;
}

header nav ul {
  display: flex;
  width:90%;

}

@media only screen and (max-width: 760px) {
.cont .one{
  flex-direction: column;
}

.picture img{
  width:100%;
  margin: 0 0 0 0;
}

.text{
margin:0 0;;
  width: 100%;
  text-align: center;
}

.text h1{
  width: 100%;
}

.leftside{
  width: 90%;
}

}

.two{
}
@media only screen and (max-width: 760px) {

.cont .two{
  margin-top:0;
  background-color: white;
  display: block;
  align-items: center;
  padding: 32px 24px 32px 24px;
}
}
