html {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  width: 100%;
}

p, a{
  font-size: 12px;
}

*{
  margin: 0px;
  padding: 0px;
}

.logo h1{
  font-size: 16px;
}

.first{
  font-weight: bold;
  font-size: 16px;
}

.second{
color: grey;
font-weight: 100;
}

img{
  height:32px;
}

header{
  top:0;
  max-width: 100%;
}

.desktop {
  margin: 0 24px;
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 100%;
  height: 64px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 64px;

}
nav ul{
  display: flex;
  justify-content: flex-end;

}

nav li{
  display: inline-flex;
  border-right: 16px solid #80ced6;
  padding-left: 0px;
  height: 64px;
  align-items: center;
}

nav li:last-child{
  border-right: 0px;
}

header .mobile {
  display: none;
}

.container{
height: 64px;
}

.container .mobile{
  width:100%;
}

@media only screen and (max-width: 900px){
li a {
  font-size: 14px;
}
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
  }
}

.cont .one{
  background-color: 	#DCDCDC;
  display: flex;
  align-items: center;
}

.one-pic img{
 width: 100%;
 height: auto;
}

.one-pic{
margin: 32px 24px 32px 24px;
width: 60%;
}

.leftside{
  width: 40%;
}

.leftside h1{
  font-size: 24px;
  font-weight: bold;
}

.text{
  height: auto;
  width: 80%;
}

.button {
  font-size: 16px;
  text-align: center;
  background-color: gray;
  color: white;
  padding-top:8px;
  padding-bottom: 8px;
  width: 100%;
}

header nav ul {
  display: flex;
  width:90%;
}

@media only screen and (max-width: 760px) {
.cont .one{
  flex-direction: column;
  padding-bottom: 32px;
}

.one-pic{
  width:100%;
  margin: 0;
}

.text{
  width: 100%;
  text-align: center;
}

.leftside{
  width: 80%;
}
}


.two{
  max-width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
  padding: 32px 24px 32px 24px;
  border-right: 1px solid #DCDCDC;

}

.two img{
  max-width:100%;
  height: auto;
}

.two .text{
  text-align: left;
  width: 100%;
}

.two .text h1{
  font-size: 24px;
  font-weight: bold;
  padding-top:32px;
  padding-bottom: 24px;
}

.two-right{
  width: 40%;
  background: ghostwhite;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 40%;
}

@media only screen and (max-width: 760px) {
.two{
  display: none;
}
}

.container-two{
  display: flex;
}

.block{
  display: flex;
  max-width: 100%;
}


.block img{
  max-width: 100%;
  height: auto;
}

.block-description{
  max-width: 65%;
  height: auto;
  padding: 16px 0;

}

.block-description h3{
  font-size: 16px;
  font-weight: bold;
}

.block-description a{
  text-decoration: none;
}

.block-description p{
white-space: pre-line;
}

.block.third{
  background-color: #DCDCDC;
}

.mobile{
  display: none;
}

.desktop-two{
  max-width:35%;
  padding: 16px;
}

.mobile-two{
  display: none;
  padding: 16px;

}

@media only screen and (max-width: 760px) {

.desktop-two{
  display: none;
}
.mobile-two{
  display: block;
}
.block{
  width: 100%;
  display: block;
}
.two-right{
  width: 100%;
}
.block-description{
  text-align: left;
  max-width: 100%;
  padding: 0px 32px 48px 32px;
  margin: 0;
}
.block.third{
  background-color: ghostwhite;
}

a, p{
  font-size: 20px;
}
}

.three{
  border-top: 1px solid #DCDCDC;
}

.Start-learning h1{
  font-size: 32px;
  text-align: center;
  background-color: lavender;
  padding-top: 32px;
  font-weight: bold;
}

.block-block{
  padding:32px 56px;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: lavender;
  flex-direction: row;
  align-content: center;
}

.block-1-picture{
 height: auto;
 max-width: 30%;
 background-color: ghostwhite;
 margin-right: 16px;
 margin-left: 16px;
 margin-bottom: 32px;
}

.block-1-picture img{
    max-width:100%;
    height:auto;
}

.block-block-description {
  padding: 16px 16px 24px 16px;
  background-color: white;
  text-align:center;
}

.course{
font-size: 16px;
margin-top: 8px;
margin-bottom: 8px;
}

.block-block-description h2{
  font-weight: bold;
}
@media (max-width: 1090px){
  .block-block {
    padding: 32px 0;
  }
  .block-1-picture {
    max-width: 29%;
  }
}

@media only screen and (max-width: 760px) {
  .block-block {
    padding: 16px 16px;
    display: block;
    max-width: 100%;
    margin-bottom: 0;
    padding-bottom: 24px;

  }
 .block-1-picture{
  margin:0;
  padding: 0;
  max-width:100%;
}

 .block-1-picture img,.block-block-description p{
    display: none;
  }

.block-block-description{
  background-color: #DCDCDC;
  max-width: 100%;
  margin-bottom:8px;
  }

.block-block-description: last-child{
}
}

.four-header h1{
    text-align: center;
    background-color: ghostwhite;
    padding: 32px 0;
    font-size: 24px;
    font-weight: bold;
}

video{
  max-width: 100%;
  height: auto;
}

.video img{
  width: 100%;
  height: auto;
}
.four{
  display: flex;

}
.four-left-side{
  max-width: 60%;
  height: auto;
  padding: 0 24px 24px 24px;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.four-text p{
  max-width: 100%;
}

.four-text h1{
  font-size: 24px;
  font-weight: bold;
  padding-top:32px;
  padding-bottom: 24px;
  max-width: 100%;

}

four-right-side .block.four{
  background-color: #DCDCDC;
}

.four-right-side{
  max-width: 40%;
  height: auto;
}


.four-block{
  height: auto;
  display: flex;
  max-width: 100%;
}

.four-image img{
  max-width: 100%;
  height: auto;
}

.four-image{
  padding: 16px;
  max-width: 35%;
}

.four-block.background{
  background-color: #DCDCDC;
}


.four-image-description{
  max-width: 65%;
  height: auto;
  padding: 16px 0;
}
